.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #4f46e5;
  color: white;
}

.logout-btn {
  background: #f87171;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #dc2626;
}
